
/*
select{
    propriedade: valor;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Kalnia+Glaze:wght@100..700&display=swap');  
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box ;

    }

body {
    background-image: url(19324a087a3ff2fcd50154d9979231c5.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Comic Neue", cursive;
    color: whitesmoke;  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;

@media (max-width: 600px) {
        body {
            font-size: 14px;
        }
    }
}

header{
        display: flex;
        gap: 1rem;
        margin: 2rem 0;
    }
main{
    max-width: 1200px;
    margin: 0 1rem;
    display: flex;
        flex-direction: column;
        align-items: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

a:hover {
    color: greenyellow;
    transition: 0.3s ease-in-out;

}
.profile_conteiner{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.avatar{
    width: 100%;
    height: auto;
    display: block;
    max-width: 20rem;
    border-radius: 15%;
    border: 2px solid whitesmoke;
    cursor: pointer;
}


.profile_conteiner p{
    color: whitesmoke;
    max-width: 300px;    
}
.profile_conteiner h1{
    color: whitesmoke;
}


.titulo_sobre_mim{
    max-width: 676.13px;
    margin: 0 1rem;
}


.icone {
    width: 5rem;
    height: 5rem;
    fill: whitesmoke;
    cursor: pointer;
}

.icone:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.dinheiro{
    width: 15px;
    height: 15px;
    fill: whitesmoke;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.dinheiro:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.linha-horizontal {
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    margin: 20px 0;
}

.MnhEsp {
    width: 20px;
    height: 20px;
}

.MnhEsp:hover{
    transform: scale(2);
    transition: 0.2s ease-in-out;
}

.especialidade{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.especialidade h2{
    color: pink;
}

.metas {
    gap: 1rem;
    justify-content: space-between;
}

.metas p {
    color: whitesmoke;
}

.metas h2{
    display: flex;
}

.metas h2:first-child{
    font-weight: 500;
}

.metas h2:last-child{
    font-weight: 700;
}

.invisivel {
    visibility: hidden;
}

